In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import shapiro, kstest, anderson

# 'pub_quality' is a flag variable:
# - If true, automatically exports all plots to PDF at 200 dpi.
# - If false, all plots are displayed inline al 70 dpi.
pub_quality = False

if pub_quality:
    plt.rcParams['figure.dpi']= 200
else:
    plt.rcParams['figure.dpi']= 70

# Preferred style for the plotting engine
plt.style.use('seaborn-talk')

# Set a random seed
np.random.seed(0)

# Load databases
data_us = pd.read_excel('databases/data_us.xlsx', engine = 'openpyxl')
data_mx = pd.read_excel('databases/data_mx.xlsx', engine = 'openpyxl')

In [6]:
# Calculate inflation rate
data_us['inflation'] = (data_us['price'] - data_us['price'].shift(1)) / data_us['price'].shift(1)
data_mx['inflation'] = (data_mx['price'] - data_mx['price'].shift(1)) / data_mx['price'].shift(1)

# Calculate real returns on the risky asset
data_us['r'] = (1 + data_us['sp500']) / (1 + data_us['inflation'])
data_mx['r'] = (1 + data_mx['ipc']) / (1 + data_mx['inflation'])

# Calculate real returns on the riskfree asset
data_us['rf'] = (1 + data_us['bond']) / (1 + data_us['inflation'])
data_mx['rf'] = (1 + data_mx['cetes']) / (1 + data_mx['inflation'])

# The risk premium is the difference beetween the return of the risky asset and the riskfree one
data_us['risk_premium'] = data_us['r'] - data_us['rf']
data_mx['risk_premium'] = data_mx['r'] - data_mx['rf']

In [13]:
data_us[['r', 'rf']].apply(lambda x: (x-1)*100).describe()

               r         rf  risk_premium
count  72.000000  72.000000     72.000000
mean    9.050630   2.193118    -93.142488
std    16.955085   8.425429     18.701105
min   -38.881637 -14.529931   -154.568247
25%    -1.159901  -2.721469   -105.402169
50%    11.370268   0.713620    -91.437372
75%    19.715364   7.493727    -81.549288
max    52.011053  25.105552    -50.907285

In [16]:
data_us['risk_premium'].apply(lambda x: x*100).describe()

count    72.000000
mean      6.857512
std      18.701105
min     -54.568247
25%      -5.402169
50%       8.562628
75%      18.450712
max      49.092715
Name: risk_premium, dtype: float64

In [12]:
data_mx[['r', 'rf']].apply(lambda x: (x-1)*100).describe()

               r         rf
count  27.000000  27.000000
mean    5.337516  -3.183862
std    23.710468  39.008090
min   -34.683880 -65.317025
25%    -9.216798 -19.816766
50%     0.896147  -7.002898
75%    22.106785   7.707441
max    54.446951  94.570566

In [17]:
data_mx['risk_premium'].apply(lambda x: x*100).describe()

count     27.000000
mean       8.521378
std       52.892067
min     -107.936234
25%      -20.407386
50%       14.967803
75%       44.111556
max      112.528348
Name: risk_premium, dtype: float64